<ul>
  {{#each beers}}
    <li>
        <img id='beerlist' src='{{image_url}}' alt='{{name}}' />
      <h5>{{name}}</h5>
      <p id="tagline">{{tagline}}</p>
      <p id="discription">{{description}}</i>
    </li>
  {{/each}}
</ul>